html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* Хак для IE 6 и 7 */
}
* {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
}
body{
  min-width: 320px;
  font-family: 'PhilosopherRegular';
  font-size: 15px;
  background: url(../images/wrapper_bg.png);
}
input {
  outline: 0 !important;
}
*::-webkit-input-placeholder {
 color: #8b8b8b;
 opacity: 1;
}
*:-moz-placeholder {
 color: #8b8b8b;
 opacity: 1;
}
*::-moz-placeholder {
 color: #8b8b8b;
 opacity: 1;
}
*:-ms-input-placeholder {
 color: #8b8b8b;
 opacity: 1;
}
.container {
  padding: 0!important;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.font_clip{
  font-family: 'Clip-Condensed';
}
.font_philbold{
  font-family: 'PhilosopherBold';
}
.entrance_registration{
  padding: 10px 0 4px 0;
}
.entrance, .registration{
  padding: 1px 11px;
}
.registration{
  border-left: 1px solid black;
  padding-right: 0px;
}
.entrance a{
  color: #000;
}
.registration a{
  color: #ec0f6c;
}
.entrance a, .registration a{
 text-transform: uppercase; 
 text-decoration: underline;
 font-size: 12px;
}
.logo{
  padding: 20px 0;
}
.logo_img{
  width: 100%;
}
.contacts{
  padding: 10px 0 0 0;
}
.phone{
  padding-bottom: 7px;
}
.phone p{
  display: inline;
}
.number{
  font-size: 27px;
  color: #787878;
}
.number span{
  font-size: 35px;
  color: #000;
  padding-left: 1%;
}
.number i{
  padding: 0 5px;
  color: #000;
}
.opening{
  padding: 12px 0;
}
.opening_hours{
  font-size: 17px;
  padding: 14px 13px 0 0;
  color: #787878;
}
.opening_hours span{
  color: #000;
}
.vk_link, .instagram_link, .facebook_link, .google_link{
 border-radius: 50%;
 text-align: center;
 width: 40px;
 height: 40px;
 float: left;
 margin: 0 2px;
 line-height: 42px; 
}
.vk_link{
  border: 2px solid #416289;
  line-height: 38px;
}
.vk_link:hover{
  background: #bdc9d6;
}
.instagram_link{
  border: 2px solid #652b48;
}
.instagram_link:hover{
  background: #c0abb5;
}
.facebook_link{
  border: 2px solid #344e85;
}
.facebook_link:hover{
  background: #abb5c9;
}
.google_link{
  border: 2px solid #c14636;
}
.google_link:hover{
  background: #e4bab4;
}
.basket_bg{
  background: url(../images/basket_bg.png); 
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.basket{
  padding: 13px 0 32px 98px;
  float: right;
  width: 270px;
  position: relative;
}
.basket_text{
  font-size: 24px;
  padding: 10px 0 1px 0;
}
.basket p{
  line-height: 19px;
}
.basket span{
  color: #fff;
}
.button_form{
  font-size: 19px;
  background: #fff;
  border: none;
  padding: 2px 21px;
  margin: 10px 0 0 0;
  text-align: center;
}
.bat{
  position: absolute;
  top: -6px;
  left: -36px;
}
.button_form:hover{
  color: #fff;
  background: #00adef;
}
.advantages_all{
  padding: 5px 0 5px 0;
}
.advantages{
  background: url(../images/advantages/advantages_bg.png); 
  width: 69px;
  height: 67px;
  line-height: 67px;
  text-align: center;
}
.advantages img{
  vertical-align: middle;
}
.advantages_text{
  padding: 14px 0 0 19px;
}
.advantages_text span{
 font-size: 24px;
 color: #ec0f6c;
}
.advantages_text p{
 font-size: 17px;
}
.original, .delivery, .discount, .return{
  padding-bottom: 10px;
  width: 281px;
  margin: 0 auto;
}  
.original p{
  font-family: 'DSNarrowExtra-condensedMedium';
  color: #ec0f6c;
  font-size: 49px;
}
.original span{
  color: #000 !important;
}
.original .advantages_text{
  padding: 24px 0 0 20px;
}
.discount .advantages{
  line-height: 62px;
}
.discount{
  padding-right: 0;
}
.fashion{
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px;
  line-height: 25px;
  font-size: 17px;
}
.line{
  border-top: 1px solid #959595;
}
.go{
  padding: 20px 0;
}
.go p{
  position: relative;
  color: black;
  font-size: 16px;
  padding-top: 64%;
}
.go p:after, .go p:before{
  content: "";
  position: absolute;
  width: 17%;
  border-top: 1px solid black;
  top: 97%;
  right: 3%;
}
.go p:before{
  right: 80%;
}
.monster{
  background: url(../images/monster_bg.png); 
}
.everafter{
  background: url(../images/everafter_bg.png); 
}
.monster, .everafter{
  height: 440px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-transform: uppercase;
  text-align: center; 
}
.social_groups{
  width: 290px;
  float: right;
  height: 440px;
}
.vk_group{
  padding-bottom: 5%;
  height: 60%;
}
.facebook_group{
  height: 40%;
}
.facebook_group img, .vk_group img{
  height: 100%;
  width: 100%;
}
.text_white_block{
  font-size: 14px;
  padding: 25px 30px;
  background: #f6f6f6;
  margin: 25px 0;
  line-height: 23px;
}
.wrapper_dolls_information{
  padding: 15px 0 65px 0;
}
.dolls_information{
  background: #fff;
  height: 270px;
  text-align: center;
  font-size: 29px;
  border: 2px solid black;
}
.doubl_border{
  background: #fff;
  border: 1px solid black;
  height: 260px;
  margin: 3px;
}
.dolls_information p{
  margin-top: 12px;
  color: black;
}
.wrapper_dolls{
  height: 210px;
  line-height: 210px;
}
.wrapper_dolls img{
 vertical-align: bottom;
 max-height: 100%;
}
.footer_bg{
  background: #3f3f3f;
}
.footer_menu{
  padding: 30px 0;
}
.footer_menu .float_left{
  border-right: 1px solid #fff;
  padding: 8px 0;
}
.footer_menu .float_left:first-child a{
  padding-left: 0px;
}
.footer_menu .float_left:last-child{
  border-right: none;
}
.footer_menu a{
  color: #fff;
  font-size: 18px;
  padding: 7px 10px;
}
.footer_menu a:hover{
  text-decoration: underline;
}
.footer_bg .logo_img{
  padding: 10px;
}
.under_footer{
  background: #1d1d1d;
  color: #696969;
  text-align: center;
  font-size: 14px;
  padding: 18px 0;
}
.footer_logo{
  color: #c3c3c3;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 30px;
}
.footer_menu_off{
  display: none;
  color: #fff;
  font-size: 220%;
  margin: 25% 25% 0px 55%;
}
.menu_off{
  display: none;
  background: url(../images/menu/6.png) no-repeat center;
  background-size:100% 100%;
  height: 104.5px;
  position: relative;
  left: 2.5%;
  width: 30%;
  z-index: 1;
}
.menu_off_button{
  margin-top: 35px;
  padding: 0 0 0 0;
  font-size: 35px;
  color: #fff;
  display: inline-block;
}
.small_menu{
  display: none;
  position: absolute;
  left: 6px;
  right: 25px;
  bottom: -132px;
  text-align: left;
  width: 304%;
  background: #3f3f3f;
  padding: 0px 0 0 5px;
}
.small_menu li{
  padding: 5px 0 5px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  width: 60%;
}
.small_menu li:last-child{
  border-bottom: none; 
}
.small_menu a:hover, .menu_off_button:hover, .footer_menu_off:hover{
  color:#00adef;
}
.small_menu a{
  color: #fff; 
}
.menu{
  padding: 20px 4.8% 4px 4.8%;
  font-size: 22px; 
  text-align: center;
  position: relative;
}
.big_menu li{
  float: left;
}
.big_menu li a{
  display: inline-block;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.big_menu li:nth-child(2) a, .big_menu li:nth-child(4) a, .big_menu li:nth-child(6) a{
 color: #fff;
}
.big_menu li:nth-child(1)  a, .big_menu li:nth-child(3) a, .big_menu li:nth-child(5) a{
 color: black;
}
.big_menu li:nth-child(1):hover a, .big_menu li:nth-child(2):hover a, .big_menu li:nth-child(3):hover a, .big_menu li:nth-child(4):hover a, .big_menu li:nth-child(5):hover a, .big_menu li:nth-child(6):hover a{
 text-decoration: underline;
}
.big_menu li:nth-child(1){
 background: url(../images/menu/1.png) no-repeat center; 
 background-size:100% 100%;
 height: 77px;
 width: 11%;
}
.big_menu li:nth-child(1) a{
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg); 
  -webkit-transform: rotate(-7deg); 
  -o-transform: rotate(-7deg); 
  transform: rotate(-7deg);
  margin-top: 10px;
}
.big_menu li:nth-child(2){
  background: url(../images/menu/2.png) no-repeat center;
  background-size:100% 100%; 
  z-index: 1;
  position: relative;
  left: -1.6%;
  width: 16.9%;
  height: 85px;
}
.big_menu li:nth-child(2) a{
  margin-top: 12px;
}
.big_menu li:nth-child(3){
  background: url(../images/menu/3.png) no-repeat center;
  background-size:100% 100%;
  height: 76px;
  position: relative;
  top: -1px;
  left: -3.2%;
  width: 11%;
}
.big_menu li:nth-child(3) a{
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg); 
  -webkit-transform: rotate(7deg); 
  -o-transform: rotate(7deg); 
  transform: rotate(7deg);
  margin-top: 10px;
}
.big_menu li:nth-child(4){
  background: url(../images/menu/4.png) no-repeat center;
  background-size:100% 100%;
  height: 85px;
  position: relative;
  top: 13px;
  left: -4.5%;
  width: 12%;
  z-index: 1;
}
.big_menu li:nth-child(4) a{
  margin-top: 14px;
}
.big_menu li:nth-child(5){
  background: url(../images/menu/5.png) no-repeat center;
  background-size:100% 100%;
  height: 82px;
  position: relative;
  top: -7px;
  left: -6.1%;
  width: 11.6%;
}
.big_menu li:nth-child(5) a{
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg); 
  -webkit-transform: rotate(-7deg); 
  -o-transform: rotate(-7deg); 
  transform: rotate(-7deg);
  margin-top: 14px;
}
.big_menu li:nth-child(6){
  background: url(../images/menu/6-b.png) no-repeat center;
  background-size:100% 100%;
  height: 105px;
  position: relative;
  top: -13px;
  left: -8.3%;
  width: 16.9%;
  z-index: 1;
}  
.big_menu li:nth-child(6) a{
 margin-top: 23px;
}
.menu_search_wrapper{
  background: url(../images/menu/0.png) no-repeat center;
  background-size:100% 100%;
  position: absolute;
  top: 7px;
  left: 67.7%;
  width: 28%;
  height: 97px;
}
.input_search{
  padding: 7px;
  font-family: 'PhilosopherRegular';
  font-size: 16px;
  margin: 35px -2% 0 4%;
  border: 1px solid black;
  width: 64%;
}
.button_search{
  padding: 8px 7px;
  font-family: 'PhilosopherRegular';
  font-size: 16px;
  border: 1px solid black;
  width: 20%;
  background: #3f3f3f;
  color: #fca3d0;
}
.button_search:hover{
  color: #00adef;
}
.wing_left {
  position: absolute;
  top: 30px;
  right: 95.1%;
  width: 5%;
  z-index: -1;
}
.wing_right {
  position: absolute;
  top: 32px;
  left: 95%;
  width: 5%;
  z-index: -1;
}
.bat_small{
  position: absolute;
  top: -10px;
  left: 23%;
  width: 5.5%;
}
.dolls_monster_more, .dolls_ever_more, .monster, .everafter, .dolls_information:hover{
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 -ms-transition: all 0.5s ease-out;
}
.dolls_monster_more:hover, .dolls_ever_more:hover, .dolls_information:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
}
.monster:hover, .everafter:hover{
 -webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -o-transform: scale(1.05);
-ms-transform: scale(1.05);
}
.wrapper_left{
  padding: 20px 0px 30px 0px;
}
.dolls_monster{
  background: url(../images/monster_head_bg.png) no-repeat center;
  background-size:100% 100%;
}
.dolls_ever{
  background: url(../images/ever_head_bg.png) no-repeat center;
  background-size:100% 100%;
}
.dolls_ever, .dolls_monster{
  height: 58px;
  border: 1px solid black;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
}
.dolls_monster_wrap{
background: rgba(255, 255, 255, 0.7);
} 
.dolls_ever a{
  color: black;
  padding: 20px 57px 13px 57px;
  display: inline-block;
}
.dolls_ever i {
  padding-left: 14px;
  font-size: 18px;
}
.dolls_monster i{
  padding-left: 39px;
  font-size: 18px;
}
.dolls_monster a{
  color: #fff;
  padding: 20px 57px 13px 57px;
  display: inline-block;
}
.centr_head{
  height: 105px;
}
.left_content, .right_content{
  padding: 14px 0 0 0;
}
.products-list a{
  color: black;
  background: rgba(255, 255, 255, 0.58);
}
.products-list a:hover{
  background: rgba(255, 255, 255, 0.58);
  color: #00a5e4;
  padding-left: 30px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 7px 15px;
  margin-bottom: -1px;
  border: 1px solid #b4b4b4;
}
.medline{
  font-size: 28px;
}
.search_crown_dolls{
  text-align: center;
  padding-bottom: 10px;
}
.search_crown_dolls input{
  border: none;
}
.search_crown_dolls div{
  padding: 5px;
  border: 1px solid black;
  text-align: left;
}
.search_crown_dolls img{
  position: relative;
  bottom: -3px;
}
.search_dolls{
  font-size: 14px;
  padding: 11px 10px;
  width: 200px;
  color: #fff;
  background: #3d3d3d;
}
.button_search_dolls{
  background: url(../images/lens.png) no-repeat center;
  padding: 8px 20px 14px 20px;
}
.form_bg{
  background: #3d3d3d;
  border: 1px solid black;
}
.wrapper_right{
  padding: 10px 0px 30px 0px ;;
}
.personal_area{
  font-size: 24px;
}
.form_personal_area{
  background: #fff;
  border: 1px solid black;
  padding: 8px 5px 8px 8px;
  position: relative; 
  margin-top: 15px;
  margin-bottom: 5px;
}
.area_name, .area_password{
  width: 164px;
  border: 1px solid black;
  padding: 3px 0 3px 25px;
  margin-bottom: 5px;
  font-size: 14px;
}
.area_check, .area_forgot{
  font-size: 12px;
  text-decoration: underline;
  color: #ec0f6c;
}
.area_forgot{
  padding-right: 6px;
  border-right: 1px solid black;
  color: #00a6e6;
}
.wrap_button_area{
  background: #ec0f6c;
  margin: 40px 0 0 8px;
  border-bottom: 4px solid #3f3f3f;
}
.button_area{
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  background: #ec0f6c;
  border: none;
  margin: 0 0 0 12px;
  padding: 3px 13px 3px 5px;
  position: relative;
  z-index: 1;
}
.dolls{
  position: absolute;
  top: -13px;
  left: 175px;
}
.all_dolls{
  display: none;
}
.wrap_input{
  position: relative;
}
.icon{
  position: absolute;
  top: 4px;
  left: 6px;
}
.wrapper_centr{
  padding: 20px 0;
  max-width: 570px;
  margin: 0 auto;
}
.bread_crumbs{
  padding-top: 10px;
}
.bread_crumbs a{
  font-size: 14px;
  color: black;
}
.bread_crumbs span{
  font-size: 14px;
  color: #ec0f6c;
  text-transform: uppercase;
}
.page-title-text, .page-title-text-1, .page-title-text-2{
  font-size: 20px;
  text-transform: uppercase;
  padding-right: 10px;
}
.centr_line_wrapper{
  padding: 25px 0 15px 0;
}
.page-title, .page-title-1, .page-title-2 {
  position: relative;
}
.title-line, .title-line-1, .title-line-2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #000;
}
.wrapper_news_posts{
  padding: 3px;
  border: 1px solid black;
  background: #fff;
  height: 143px;
  margin-bottom: 20px;
}
.news_posts_img{
  width: 135px;
  height: 135px;
  border: 1px solid black;
}
.news_posts_img img{
  width: 100%;
  height: 100%;
}
.news_posts{
  padding-left: 10px;
  margin-left: 135px;
}
.title_news_posts{
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
}
.news_posts_text{
  font-size: 14px;
  height: 65px;
  line-height: 16px;
  overflow: hidden;
}
.date_news{
  font-size: 12px;
  font-family: "PhilosopherItalic";
  color: #909090;
  padding: 10px 0 0 0;
  display: inline-block;
}
.news_posts a{
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: #ec0f6c;
  margin: 5px 5px 0 0;
  padding: 3px 10px;
  border-bottom: 4px solid #3f3f3f;
}
.wrapper_reviews_posts{
  margin-bottom: 25px;
}
.head_reviews{
  background: #f7f7f7;
  padding: 10px;
  position: relative;
}
.corner{
  position: absolute;
  top: -5px;
  left: -12px;
}
.content_reviews{
  background: #fff;
  padding: 10px;
}
.user_reviews_avatar{
  width: 80px;
  height: 80px;
  border: 1px solid black;
}
.user_reviews_avatar img, .user_reviews_avatar_small img{
  width: 100%;
  height: 100%;
}
.reviews_text{
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
  padding-top: 5px;
  margin-left: 80px;
}
.date_reviews{
 font-size: 12px;
 font-family: "PhilosopherItalic";
 padding-top: 2px;
}
.evaluation_reviews_card{
  margin-right: 10px;
}
.evaluation_reviews{
  margin-right: 3px;
}
.star{
  padding: 7px 7px;
  margin-right: 2px;
  background: url(../images/star_g.png) no-repeat center;
}
.star:hover{
 background: url(../images/star.png) no-repeat center;
}
.wrapper_reviews_posts_small{
  width: 75%;
  margin-bottom: 25px;
}
.user_reviews_avatar_small{
  width: 38px;
  height: 38px;
  border: 1px solid black;
}
.reviews_text_small{
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
  padding-top: 2px;
  margin-left: 38px;
}
.centr_footer{
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}
.number_page{
  border: 1px solid black;
  margin-right: 15px;
  width: 37px;
  height: 37px;
}
.number_page_last{
  border: 1px solid black;
  width: 106px;
  height: 37px;
}

.number_page_last a, .number_page a{
  color: black;
  padding: 9px 9px;
  display: inline-block;
}
.number_page a{
  padding: 9px 12px;
}
.number_page:hover, .number_page_last:hover{
  background: #fff;
  font-family: 'PhilosopherBold';
}
.reviews_input_text, .reviews_input_name{
  border: 1px solid black;
  font-size: 16px;
}
.reviews_input_name{
  width: 270px;
  padding: 5px 0 5px 10px;
}
.reviews_input_text{
  width: 100%;
  height: 100px;
  padding-left: 10px;
  margin: 20px 0;
  padding-top: 10px;
}
.form_reviews_evaluation span{
  font-size: 12px;
  padding-right: 10px;
  margin-left: 25px;
}
.form_reviews_evaluation{
  padding: 5px 0 0 0;
}
.reviews_button{
  font-size: 27px;
  text-transform: uppercase;
  color: #fff;
  background: #ec0f6c;
  border: none;
  padding: 3px 40px 3px 40px;
  border-bottom: 4px solid #3f3f3f;
  margin-bottom: 30px;
}
  .wrapper_one_unit{
    width: 170px;
    margin: 0 auto;
    border: 1px solid #fff;
  }
  .wrapper_one_unit:hover{
border: 1px solid black;
  }
  .one_unit_content{
    background: #fff;
    padding: 5px;
  }
  .one_unit_footer{
    background: #f7f7f7;
    padding: 5px;
    font-size: 18px;
  }
  .one_unit_foto_wrap{
    border: 1px solid black;
    padding: 1px;
  } 
  .one_unit_foto{
    border: 1px solid black;
    height: 157px;
  }
  .one_unit_foto img{
    width: 100%;
    height: 100%;
  }
  .unit_evaluation span{
    font-size: 12px;
    padding-right: 5px;
  }
  .unit_evaluation{
    padding: 15px 0 5px 0;
  }
  .quantity_star span{
    font-size: 14px;
    padding: 0px;
  }
  .name_dolls{
    font-size: 16px;
    padding: 10px 0 5px 0;
    display: inline-block;
    color: black;
  }
/*    .name_dolls:hover{
    text-decoration: underline;
  }*/
  .one_unit_info p{
    line-height: 19px;
  }
  .button_unit{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    background: #ec0f6c;
    border: none;
    padding: 5px 18px 5px 18px;
    border-bottom: 3px solid #3f3f3f;
  }
  .button_unit:hover{
    background: #fc8fcc;
  }
  .unit_price{
    color: red;
    font-size: 24px;
    padding-right: 3px;
  }
  .unit_price_all{
    padding-top: 10px;
  }
  .centr_footer_catalog{
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
  }
  .number_page_catalog{
    margin-right: 15px;
    width: 27px;
    height: 27px;
    background: #fff;
  }
  .number_page_catalog_last{
    width: 85px;
    height: 27px;
    background: #fff;
  }
  .number_page_catalog_last a, .number_page_catalog a{
    color: black;
    padding: 8px 11px;
    display: inline-block;
  }
  .number_page_catalog:hover, .number_page_catalog_last:hover{
    background: #00adef;
    font-family: 'PhilosopherBold';
  }
  .number_page_catalog:hover a, .number_page_catalog_last:hover a{
   color: #fff;
 }
 .centr_footer_catalog span{
  font-size: 20px;
  padding: 5px 10px 0 10px;
}
.line_black{
  height: 1px;
  /*border-top: 1px solid black;*/
  background: #000;
  margin: 15px -15px;
}
.above_footer{
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0 40px 0;
}
.novelty_slider{
  background: url(../images/novelty_slider_bg.png) no-repeat center;
  background-size: 100% 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}
.discounts_slider{
  background: url(../images/discounts_slider_bg.png) no-repeat center;
  background-size: 100% 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}
.hit_slider{
  background: url(../images/hit_slider_bg.png) no-repeat center;
  background-size: 100% 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}
.general_catalog{
  background: url(../images/general_catalog_bg.png) no-repeat center;
  background-size:100% 100%;
  text-align: center;
  margin-top: 20px;
}
.general_catalog a{
  font-size: 31px;
  color: #fff;
  padding: 14px 30px;
  text-transform: uppercase;
  display: inline-block;
}
.slider_title_text:hover{
text-decoration: underline;
}
.slider_title_text{
color: #fff;
}
.slider_title_novelty, .slider_title_discounts, .slider_title_hit{
  text-align: center;
  padding: 15px 0;
  font-size: 31px;
  color: #fff;
}
.slider_title_number{
  font-size: 20px;
  margin-left: 5px;
}
.go_1 .slider_title_novelty, .go_1 .slider_title_discounts, .go_1 .slider_title_hit{
  position: relative;
}
.go_1 .slider_title_novelty:after, .go_1 .slider_title_novelty:before{
  content: "";
  position: absolute;
  width: 36%;
  border-top: 1px solid #fff;
  top: 53%;
  right: 2%;
}
.go_1 .slider_title_novelty:before{
  right: 62%;
}
.go_1 .slider_title_discounts:after, .go_1 .slider_title_discounts:before{
  content: "";
  position: absolute;
  width: 36%;
  border-top: 1px solid #fff;
  top: 53%;
  right: 2%;
}
.go_1 .slider_title_discounts:before{
  right: 62%;
}
.go_1 .slider_title_hit:after, .go_1 .slider_title_hit:before{
  content: "";
  position: absolute;
  width: 30%;
  border-top: 1px solid #fff;
  top: 53%;
  right: 2%;
}
.go_1 .slider_title_hit:before{
  right: 67%;
}
.wrapper_card_prod{
  margin-top: 20px;
}
.reviews_all{
  text-align: right;
}
.reviews_all a{
  text-align: right;
  color: #00adef;
  text-decoration: underline;
}
.reviews_text_card{
 font-size: 12px;
 line-height: 18px;
 height: 73px;
 overflow: hidden;
}
.evaluation_reviews_wrap{
  padding-top: 5px;
  float: none;
}
.user_reviews_wrap{
  float: none;
}
.wrap_dolls_card_prod{
  border: 1px solid black;
  padding: 3px;
  background: #fff;
  width: 270px;
  margin: 0 auto;
} 
.dolls_card_prod{
  border: 1px solid black;
  height: 260px;
}
.dolls_card_prod img{
  width: 100%;
  height: 100%;
}
.photo_small, .video{
  margin: 10px auto;
  background: #fff;
  width: 240px;
}
.photo_small_one{
  /*margin: 5px 0px;*/
  width: 55px;
  height: 55px;
  border: 1px solid black;
  display: inline-block;
}
.slick-slide {
  padding:5px 12px ;
  text-align: center;
}
.slick-my-wrap {
  /*padding: 0 5px;*/
 /* width: 240px;
 margin: 0 auto;*/
}
.photo_small img, .video img{
  width: 100%;
  height: 100%;
}
.line_black_card{
  height: 1px;
  background: #000;
  margin: 5px 0px;
}
.wrapp_video{
  width: 240px;
  margin: 0 auto;
}
.wrapp_photo_small{

  margin: 0 auto;
}
.video_one{
  margin: 5px 10px;
  height: 55px;
  border: 1px solid black;
}
.name_dolls_card{
  font-size: 21px;
}
.read_write a{
  font-size: 12px;
  color: black;
  padding-right: 4px;
  border-right: 1px solid black;
}
.read_write:last-child a{
 padding-right: 0px;
 border-right: none;
 padding-left: 4px;
}
.wrap_name_dolls_card{
  padding-left: 0px;
}
.unit_evaluation_card {
  padding: 0;
}
.dolls_card_reviews{
  padding: 5px 0;
}
.code{
  padding: 20px 0;
}
.number_code{
  font-size: 12px;
}
.available{
  color: #37b011;
}
.one_unit_footer_card{
  padding: 5px;
  font-size: 18px;
}
.unit_price_card{
  color: red;
  font-size: 28px;
  padding-right: 3px;
}
.button_unit_card{
  font-size: 27px;
  text-transform: uppercase;
  color: #fff;
  background: #ec0f6c;
  border: none;
  padding: 5px 52px;
  border-bottom: 3px solid #3f3f3f;
}
.descrip{
  padding-top: 5px;
}
.descrip p{
  line-height: 20px;
  padding-top: 10px;
}
.wrapp_video .lSAction > a {
  top: 30%;
  height: 65px;
}
.lSAction > a {
  width: 15px;
  display: block;
  top: 50%;
  height: 56px;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.7;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}
.lSAction > .lSNext {
  background-position: 0px 0;
  right: 0px;
  background-image: url('../images/r.png');
  background-size: 100% 100%;
}
.lSAction > .lSPrev {
  background-position: 0 0;
  left: 0px;
  background-image: url('../images/l.png');
  background-size: 100% 100%;
}
.slick-next {
  right: -15px;
  background-image: url('../images/r.png');
  background-size: 100% 100%;
   opacity: 0.7;
}
.slick-prev {
  left: -15px;
  background-image: url('../images/l.png');
  background-size: 100% 100%;
   opacity: 0.7;
}
.slick-prev, .slick-next {
  width: 15px;
  height: 67px;
}
.slick-prev:before {
  content: "";
}
.slick-prev:before, .slick-next:before {
  font-size: 0px;
}
.slick-prev:hover, .slick-prev:focus {
 background: url('../images/l.png');
 background-size: 100% 100%;
 opacity: 1;
}
.slick-next:hover, .slick-next:focus{
  background: url('../images/r.png');
  background-size: 100% 100%;
   opacity: 1;
}