/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .number{
    font-size: 15px;
  }
  .number span{
    font-size: 20px;
  }
  .monster, .everafter{
    height: 357px;
  }
  .social_groups{
    height: 357px;
  }
  .go p{
    font-size: 14px;
  }
  .go p:after, .go p:before{
    width: 14%;
    top: 96%;
  }
  .go p:before{
    right: 83%;
  }
  .fashion br{
    display: none;
    padding: 13px 10px;
  }
  .fashion{
    padding: 13px 10px;
  }
  .menu{
    font-size: 19px; 
  }
  .button_search{
    padding: 9px 1px 8px 1px;
    font-size: 15px;
  }
  .dolls_ever, .dolls_monster {
    font-size: 15px;
  }
  .search_dolls {
    font-size: 11px;
    width: 160px;
  }
  .personal_area{
    font-size: 20px;
  } 
  .wrap_button_area {
    margin: 7px 0 0 55px;
  }
  .dolls {
    top: 67px;
    left: 150px;
  }
  .area_name, .area_password {
    width: 202px;
  }
  .left_content{
    padding: 43px 0 0 0;
  }
  .dolls_monster i {
    padding-left: 25px;
  }
  .dolls_ever i {
    padding-left: 10px;
  }
  .wrap_name_dolls_card{
    padding-left: 15px;
  }
  .basket_bg{
    background-position: 80% 50%;
  }
  .basket{
    padding-left: 97px;
  }
  .go_1 .slider_title_novelty:after, .go_1 .slider_title_novelty:before, .go_1 .slider_title_discounts:after, .go_1 .slider_title_discounts:before{
    width: 33%;
  }
  .go_1 .slider_title_novelty:before, .go_1 .slider_title_discounts:before{
    right: 65%;
  }
  .go_1 .slider_title_hit:after, .go_1 .slider_title_hit:before{
    width: 27%;
  }
  .go_1 .slider_title_hit:before{
   right: 71%;
 }
 .dolls_ever a {
  padding: 20px 55px 13px 55px;
}
.number i {
  padding: 0 3px;
}
.form_personal_area{
  margin-bottom: 0px;
}
.dolls_monster a {
    padding: 20px 57px 18px 57px;
}
.dolls_ever a {
    padding: 20px 55px 18px 55px;
}
.button_area{
  margin: 0 0 0 0px;
  padding: 3px 13px 3px 13px;
}
}





/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .number{
    font-size: 27px;
  }
  .number span{
    font-size: 35px;
  }
  .menu{
    font-size: 14px; 
  }
  .big_menu li:nth-child(5) a, .big_menu li:nth-child(1) a{
   -moz-transform: rotate(-11deg);
   -ms-transform: rotate(-11deg); 
   -webkit-transform: rotate(-11deg); 
   -o-transform: rotate(-11deg); 
   transform: rotate(-11deg);
 }
 .big_menu li:nth-child(3) a{
  -moz-transform: rotate(11deg);
  -ms-transform: rotate(11deg); 
  -webkit-transform: rotate(11deg); 
  -o-transform: rotate(11deg); 
  transform: rotate(11deg);
}
.button_search{
  padding: 12px 1px 9px 1px;
  font-size: 11px;
}
.social_groups{
  margin: 0 auto 20px auto;
  float: none;
}
.monster, .everafter{
 width: 290px; 
 margin: 0 auto 20px auto;
}
.wrapper_left, .wrapper_right, .centr_head{
  width: 270px;
  margin: 0 auto;
}
.products-list{
  display: none;
}
.all_dolls{
  display: block;
}
.dolls_ever, .dolls_monster {
  font-size: 23px;
}
.search_dolls {
  font-size: 14px;
  width: 200px;
}
.personal_area{
  font-size: 25px;
} 
.wrap_button_area {
 margin: 40px 0 0 8px;
}
.dolls {
  top: -13px;
  left: 175px;
}
.area_name, .area_password {
  width: 164px;
}
.left_content{
  padding: 14px 0 0 0;
}
.dolls_monster i {
  padding-left: 39px;
}
.dolls_ever i {
  padding-left: 15px;
}
.basket_bg{
  background-position: 90% 50%;
}
.number i {
  padding: 0 5px;
}
.dolls_monster a {
    padding: 20px 57px 13px 57px;
}
.dolls_ever a {
    padding: 20px 55px 13px 55px;
}
.button_area{
  margin: 0 0 0 12px;
  padding: 3px 13px 3px 5px;
}
}









/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .container {
    padding: 0 15px 0 15px !important;
  }
  .menu_off{
    display: block;
    float: left;
  }
  .menu{
    max-width: 510px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; 
  }
  .big_menu{
    display: none; 
  }
  .menu_search_wrapper{
    position: static;
    width: 67%;
    float: left;
  }
  .wing_right, .wing_left, .bat_small {
    display: none;
  }
  .wrapper_dolls_information{
    padding-bottom: 45px;
  }
  .dolls_information{
    width: 290px;
    margin: 0 auto 20px auto;
  }
  .basket_bg{
    background-position: 50% 0%;
  }
  .contacts{
    width: 290px;
    margin: 0 auto;
    text-align: center;
  }
  .opening{
    padding-bottom: 40px;
    width: 180px;
    margin: 0 auto;
  }
  .opening_hours{
    padding: 0 0 10px 15px;
  }
  .number{
    font-size: 20px;
  }
  .number span{
    font-size: 28px;
  }
  .basket{
    float: none;
    margin: 0 auto;
    padding: 10px 0 32px 98px;
  }
  .bat {
    top: -17px;
    left: -20px;
  }
  .footer_menu_off{
    display: block;
  }
  .footer_menu .float_left{
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .footer_menu li{
    float: none;
    width: 200px;
  }
  .footer_menu{
    display: none;
    margin: 0px 0 0 10px;
  }
  .footer_menu .float_left:first-child a{
    padding-left: 10px;
  }
  .footer_logo{
    padding: 10px 0px 30px 0px;
  }
  .text_white_block{
    padding: 25px 10px;
    margin: 25px 0px;
  }
  .fashion{
   padding: 13px 0px;
 }
 .reviews_input_name {
  width: 260px;
}
.personal_area {
  font-size: 23px;
}
.evaluation_reviews_wrap{
  padding-top: 0px;
  float: right;
}
.user_reviews_wrap{
  float: left;
}
}




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .news_posts_img{
   display: none;
 }
 .news_posts{
  margin-left: 0px;
}
.number_page{
  margin-right: 10px;
  width: 27px;
  height: 27px;
}
.number_page_last{
  width: 100px;
  height: 27px;
}
.number_page_last a, .number_page a{
  padding: 4px 0px;
}
.form_reviews_evaluation, .evaluation_reviews_card{
  display: none;
}
.number_page_catalog{
  width: 20px;
  margin-right: 5px;
}
.number_page_catalog_last {
  width: 65px;
}
.number_page_catalog_last a, .number_page_catalog a {
  padding: 8px 1px;
}
.general_catalog a {
  font-size: 27px;
}
.go_1 .slider_title_novelty:after, .go_1 .slider_title_novelty:before, .go_1 .slider_title_discounts:after, .go_1 .slider_title_discounts:before{
  width: 23%;
  right: 5%;
}
.go_1 .slider_title_novelty:before, .go_1 .slider_title_discounts:before{
  right: 72%;
}
.go_1 .slider_title_hit:after, .go_1 .slider_title_hit:before{
  width: 14%;
  right: 5%;
}
.go_1 .slider_title_hit:before{
 right: 81%;
}
}




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .footer_menu{
    display: block!important;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .left_list{
    display: block!important;
  }
  .right_list{
    display: block!important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}